* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: FreightBook,sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

h2, .h2 {
	margin: 0;
	font-family: FreightLight,sans-serif;
	font-weight: 300;
	font-size: 3.5rem;
	line-height: 3.5rem;
	color: #fff;
	text-shadow: 0 1px 10px #000;
}

h4, .h4 {
font-size: 1.8rem;
font-family: FreightMedium,sans-serif;
font-weight: 500;
line-height: 30.8px;
color: #2b2d31;
}

body {
	display: block;
	margin: 0px;
}

.main .step h4 {
margin-left: 70px;
}

body {
	color: #444;
	font: 13px/1.231 sans-serif;
}

body {
	line-height: 22px;
	font-family: PNRegular,sans-serif;
	font-weight: 300;
	font-size: 1rem;
	text-shadow: 0 1px #fff;
	color: #7b7d80;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.page-header>.container {
	padding: 0 15px;
}

.container {
	max-width: 1032px;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

.main-nav {
	margin: 21px 0 0;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

ul, ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.main .step:first-child {
background: transparent;
}

.box-3 .box {
	width: 33.33333%;
	float: left;
}

.main .step {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD7CAYAAACrHP72AAAAY0lEÉFNVI1rIKVUgUsh2WwFJZIvXgxLIKFvIDnK/N4rjLHJFvbBVURE9rT74u4AAAAAElFTkSuQmCC') top left no-repeat;
	padding: 33px 20px 44px;
}

.main .step:nth-of-type(3n+1) {
	padding: 33px 20px 44px 30px;
}

.rel {
	position: relative;
}


ol {
	display: block;
	list-style-type: decimal;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.main-nav li {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	font-size: 0.85rem;
	text-transform: uppercase;
}

.main-nav a {
	padding: 6px 12px;
	font-family: PNRegular,sans-serif;
	font-weight: 300;
	color: #fff;
	text-shadow: none;
}

a {
	text-decoration: none;
}

.main-nav a.callout {
	margin: 0 0 0 5px;
	background: #47c246;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #71d364), color-stop(100%, #47c246));
	background: -webkit-linear-gradient(#71d364,#47c246);
	background: -moz-linear-gradient(#71d364,#47c246);
	background: -o-linear-gradient(#71d364,#47c246);
	background: linear-gradient(#71d364,#47c246);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.8),inset 1px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.8),inset 1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.8),inset 1px 0 rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 #00a70e;
}

.main-nav a:visited {
	color: #fff;
}

.page-header {
	padding: 10px 0 0;
	margin: 0;
	background-color: #262626;
	background-image: url(https://d25ss6wjc6pfq2.cloudfront.net/assets/shared/light-gray-topo-hi-4e6a536475f8422cda9330175b32d3f3.png);
	background-size: 450px 450px;
	-webkit-box-shadow: 0 0 -10px #000;
	-moz-box-shadow: 0 0 -10px #000;
	box-shadow: 0 0 -10px #000;
}

.o-hidden {
	overflow: hidden;
}

.v-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.tagline {
padding: 26.4px 0 198px;
}

.raise {
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.15);
	box-shadow: 0 1px 10px rgba(0,0,0,0.15);
	border: 1px solid #c4c4c4;
	background: #fff;
	max-width: 1034px;
}

.main {
	margin: -176px auto 0;
}

.box-3, .box-4 {
	overflow: hidden;
}

.main .step img {
	position: absolute;
	left: 0;
	top: 0;
}

.deem {
	color: #b1b4b9;
}
.cta-contain {
margin: 0 auto 55px;
text-align: center;
}
.main-cta.green, .secondary-cta.green {
background: #5dcd54;
text-shadow: 0 1px #1b9519;
color: #fff;
}

.main-cta {
padding: 7px 40px;
font-size: 1.9rem;
font-family: FreightLight,sans-serif;
font-weight: 300;
}

.main-cta, .secondary-cta {
position: relative;
display: inline-block;
margin: 11px 0 0 0;
border: none;
line-height: 41.8px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
z-index: 0;
}
.main-cta a, .secondary-cta a {
color: #fff;
}

input[type="text"]
{
    font-size:24px;
    width:600px;
    height:55px;
    margin: 11px 0 0 0;
    padding: 0px;
    border: solid;
    border-width: 1px;
}
